# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Windows
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.db
*.lnk
*.reg_backup
*.dmp

# MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
